# dependencies
node_modules
.pnp
.pnp.js
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# testing
coverage

# build files
dist

# temp files
tsconfig.tsbuildinfo

# secrets
.env*
!.env*.example

# scraped data
scraped
data